#welcomeTitle {
  -webkit-text-stroke: 0.1vh black;
  font-size: 2.25rem;
  color: #514644;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listBox {
  margin: 5px;
  height: 400px;
  width: 420px;
  overflow: auto;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid slategrey;
}

#listActionBox {
  width: 380px;
  display: flex;
  justify-content: space-around;
}
