#listCard {
  height: 130px;
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
  position: relative;
  animation: easeIn 0.5s;
  animation-timing-function: ease-in-out;
  background-color: #fff6f0;
  box-shadow: 2px 2px 7px dimgrey;
}

#innerCard {
  margin-left: 30px;
}

#deleteBtn {
  margin-right: 30px;
}

@keyframes easeIn {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
