#searchBar {
  background-color: #fff6f0;
}

#headerSearch {
  text-align: center;
  height: 25px;
  width: 150px;
  font-size: 0.8rem;
}

#icon {
  position: absolute;
  margin-top: 7px;
  height: 20px;
  width: 40px;
}
