#loginCard {
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fde9dc;
  margin-top: 10px;
}

#cardTitle {
  text-shadow: 0 0 0.4vh rgb(192, 192, 192);
  -webkit-text-stroke: 0.02vh rgb(0, 0, 0);
  color: #514644;
  font-size: 40px;
}

#dropdown {
  width: 120px;
  height: 20px;
  margin-bottom: 30px;
}
