body,
html {
  height: 100%;
  margin: 0;
  direction: rtl;
  font-family: cursive;
  font-size: 20px;
}

#fullPage {
  background-color: #efc8b1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
