.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todoTitle {
  -webkit-text-stroke: 0.1vh black;
  font-size: 60px;
  color: #514644;
  margin-top: 0;
}



#subTitle {
  -webkit-text-stroke: 0.05vh black;
  font-size: 30px;
  color: #514644;
}
